.block-eirik-musit .content {
  max-height: 140px;
  overflow-x: auto;
  overflow-y: auto;
}
.musitgridbreak {
  clear:both;
  height:10px;
}
.musithits {
  clear:both;
}
#musitevenmore {
}
.newsearch {
  background-color: rgb(87, 134, 189);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-top: 26px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 130px;
}
.newsearch a:visited,
.newsearch a:hover,
.newsearch a:link,
.newsearch a:active,
.newsearch a {
  color:white;
}
#musitshow {
  display:none;
  float:left;
  background-color: rgb(87, 134, 189);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 130px;
}
.musithits .item {
  float:left;
  width:30%;
  height:220px;
  background:#eee;
  margin:6px;
  text-align:center;
}
.musithits img {
  max-width:140px;
  height:auto;
}
.musitheader {
  font-weight: 700;
  text-transform: capitalize;
}
#musitsortmun,
#musitsorttitle,
#evenmorelink {
  float:left;
  background-color: rgb(87, 134, 189);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 26px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 130px;
}
#musitcontrolwrapper {
  margin:auto;
  text-align:center;
}
#evenmorecontrol {
  display:none;
}
.page-musit-search .chzn-drop {
  width:auto !important;
}

#edit-fylke_chzn {
  width:auto !important;
}
.page-musit-search td {
  padding:0px;
}
.page-musit-search table {
  width:100%;
  margin-top:0px;
}
.page-musit-search th {
  padding:0px;
}
.page-musit-search div.vertical-tabs {
  margin-left:0px;
}
#musitsortmun,
#musitsorttitle,
#musitcontrolwrapper div {
  cursor:pointer;
}
.form-item-record {
  float:left;
}
.form-item-record input{  
  height:34px;
}
#museumfiltercontrol {
}
#museumfiltercontrolhits,
#museumfiltercontrol {
  margin-right:0px;
  margin-left:auto;
}
.minikontroll {
  font-size:8px;
  float:right;
}
.rowclear {
  clear:both;
}